conda {
    enabled = true
    useMamba = false
    cacheDir = "${HOME}/.nextflow_conda"
}

env {
    TMPDIR        = '/mnt/xraid/CNV_CEITEC/tmp'
    TMP           = '/mnt/xraid/CNV_CEITEC/tmp'
    TEMP          = '/mnt/xraid/CNV_CEITEC/tmp'
    _JAVA_OPTIONS = '-Djava.io.tmpdir=/mnt/xraid/CNV_CEITEC/tmp'
}

process {
    scratch = '/mnt/xraid/CNV_CEITEC/tmp'
}
