conda {
    enabled = true
    useMamba = false
    cacheDir = "${HOME}/.nextflow_conda"
}

env {
    TMPDIR        = '/mnt/data/ceitec_cfg2/710000-CEITEC/713000-cmm/713016-bioit/base/workspace/aman/cnv/tmp'
    TMP           = '/mnt/data/ceitec_cfg2/710000-CEITEC/713000-cmm/713016-bioit/base/workspace/aman/cnv/tmp'
    TEMP          = '/mnt/data/ceitec_cfg2/710000-CEITEC/713000-cmm/713016-bioit/base/workspace/aman/cnv/tmp'
    _JAVA_OPTIONS = '-Djava.io.tmpdir=/mnt/data/ceitec_cfg2/710000-CEITEC/713000-cmm/713016-bioit/base/workspace/aman/cnv/tmp'
}

process {
    scratch = '/mnt/data/ceitec_cfg2/710000-CEITEC/713000-cmm/713016-bioit/base/workspace/aman/cnv/tmp'
}
