conda {
    enabled = true
    createTimeout = '2 h'
}

executor {
    cpus      = 30
    memory    = '90 GB'
    queueSize = 8
}

process {
    withName: 'JABCONTOOL_CALL' {
        maxForks = 1
        memory   = '8 GB'
    }
    withName: 'SNP_AF_CALC' {
        maxForks = 8
        memory   = '4 GB'
    }
    withName: 'COVERAGE_CALC' {
        maxForks = 1
        memory   = '90 GB'
    }
    withName: 'COHORT_GENERATION_GATK' {
        memory = '10 GB'
    }
    withName: 'GERMLINE_PLOIDY_DETERMINATION_GATK' {
        memory = '12 GB'
    }
    withName: 'CNV_CALL_CNMOPS' {
        maxForks = 4
        memory   = '10 GB'
    }
    withName: 'CNV_CALL_PANELCNMOPS' {
        maxForks = 4
        memory   = '10 GB'
    }
    withName: 'PREPARE_COHORT_CNMOPS' {
        maxForks = 1
        memory   = '90 GB'
    }
    withName: 'PREPARE_COHORT_PANELCNMOPS' {
        maxForks = 1
        memory   = '90 GB'
    }
    withName: 'CNV_CALL_EXOMEDEPTH' {
        maxForks = 4
        memory   = '8 GB'
    }
    withName: 'PREPARE_COHORT_EXOMEDEPTH' {
        maxForks = 1
        memory   = '90 GB'
    }
    withName: 'GENMAP_MAP_FREEC' {
        cpus   = 8
        maxForks = 1
        memory = '90 GB'
    }
    withName: 'GENMAP_INDEX_FREEC' {
        maxForks = 1
        memory = '90 GB'
    }
    withName: 'CNV_VARCALLS_GATK' {
        maxForks = 4
        memory   = '10 GB'
    }
}
